/* Fuentes */

@font-face {
  font-family: "TrebuchetMS";
  src: url(fonts/TrebuchetMS.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url(fonts/BebasNeue.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WebSymbolsRegular";
  src: url("fonts/websymbols-regular-webfont-webfont.woff2") format("woff2"),
    url("fonts/websymbols-regular-webfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Estilos generales */
* {
  padding: 0px;
  margin: 0px;
}

body {
  background: url(../img/pattern.png);
}

.warp {
  width: 1200px;
  margin: 0px auto;
}

.clearfix {
  float: none;
  clear: both;
}

/* Cabezera */
#header {
  width: 100%;
  height: 70px;
  background-color: black;
  color: white;
  font-family: "BebasNeue";
}

#logotipo {
  float: left;
  width: 200px;
  background-color: #37bcf9;
  text-align: center;
  margin-top: 8px;
  margin-left: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  overflow: hidden;
  transition: all 300ms;
}
#logotipo .gear {
  display: block;
  float: left;
  font-size: 30px;
  margin-top: 13px;
  margin-left: 30px;
}

.icon {
  font-family: "WebSymbolsRegular";
}
.gear {
  font-family: "WebSymbolsRegular";
}

#logotipo h3 {
  font-size: 40px;
  display: block;
  float: right;
  margin-right: 65px;
  margin-top: 8px;
}

#menu {
  float: right;
  height: 70px;
  background-color: transparent;
}

#menu ul li {
  font-size: 24px;
  display: inline-block;
  margin: 0px 20px 0px 20px;
  line-height: 75px;
}

#menu ul li a {
  display: block;
  color: white;
  text-decoration: none;
  transition: all 200ms;
}

#menu ul li a:hover {
  color: #37bcf9;
  transform: scale(1.2, 1.2);
}

/* Banner */
#banner {
  width: 95.2%;
  height: 100px;
  border: 10px solid white;
  box-shadow: 0px 0px 2px gray;
  background-image: url("../img/bakbaner.png");
  background-position: -347px -200px;
  margin: 20px auto;
}

#banner h1 {
  display: block;
  width: 850px;
  font-family: "BebasNeue";
  color: white;
  font-size: 45px;
  font-weight: normal;
  text-shadow: 2px 2px 1px black;
  letter-spacing: 2px;
  margin: 27px auto;
}

/* TARJETAS */
.card {
  float: left;
  width: 205px;
  height: 305px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #ddd;
  background-color: white;
  overflow: hidden;
  margin: 16px;
  margin-top: 40px;
  cursor: pointer;
}

.card .icon {
  display: block;
  width: 100%;
  height: 130px;
  font-size: 50px;
  line-height: 110px;
  text-align: center;
  margin: 0px auto;
}

.card .category {
  width: 100%;
  height: 50px;
  font-family: "TrebuchetMS";
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #00538c;
}

.card .description {
  text-align: center;
  font-family: "TrebuchetMS";
  color: #0991ec;
  font-size: 15px;
}

/* LATERAL */
#lateral {
  width: 300px;
  min-height: 1200px;
  font-family: "TrebuchetMS";
  float: right;
  margin: 25px;
}

aside h3 {
  display: block;
  width: auto;
  height: 45px;
  line-height: 49px;
  background-image: url(../img/pxgray.png);
  box-shadow: 0px 1px 0px #393d3f, 1px 2px 0px #393d3f, 2px 3px 0px #393d3f,
    3px 4px 0px #393d3f;
  font-size: 30px;
  font-family: "BebasNeue";
  font-weight: normal;
  letter-spacing: 2px;
  padding-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#lateral h3:first-child {
  margin-top: 0px;
}

#buscar {
  width: 90%;
  height: 30px;
  margin: 10px auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #ccc inset;
}

#lateral input[type="text"] {
  width: 85%;
  height: 30px;
  border: none;
  padding-left: 5px;
  border-radius: 5px;
  background-color: transparent;
  color: #ccc;
  transition: all 300ms;
}

#lateral input[type="text"]:focus {
  color: #555;
}

#lateral input[type="button"],
#lateral input[type="submit"] {
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-left: 1px solid #ccc;
  color: #555;
  padding-left: 5px;
}

.aside-box {
  width: 85%;
  height: 240px;
  margin: 0px auto;
  margin-top: 20px;
  padding-top: 2px;
  background-color: white;

  border-radius: 5px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3),
    0px 1px white inset, 0px -3px 2px rgba(0, 0, 0, 0.3) inset;
}

#login input[type="email"],
#login input[type="password"] {
  display: block;
  margin: 0px auto;
  width: 82%;
  height: 30px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #ccc inset;
  border-radius: 5px;
  margin-top: 20px;
  padding-left: 35px;
  color: gray;
  transition: all 300ms;
}

#login input[type="email"]:focus,
#login input[type="password"]:focus {
  color: #555;
  box-shadow: 1px 1px 1px grey inset;
}

#login #user,
#login #password {
  display: block;
  text-align: center;
  position: absolute;
  margin-left: 15px;
  margin-top: 8px;
  height: 30px;
}

#login #password {
  margin-left: 18px;
  margin-top: 25px;
  font-size: 20px;
}

#login input[type="submit"],
#login input[type="button"],
#login input[type="reset"],
#login button {
  /* display: block; */
  text-align: center;
  width: 100px;
  height: 35px;
  margin-top: 20px;
  color: white;
  background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
  border: 1px solid #156785;
  border-radius: 0px;
  cursor: pointer;
  font-size: 15px;
  font-family: "TrebuchetMS";
  font-weight: lighter;
  margin-left: 15px;
  margin-bottom: 20px;
}

#login input[type="submit"]:hover,
#login input[type="button"]:hover,
#login input[type="reset"]:hover,
#login button:hover {
  box-shadow: 0px 0px 3px gray;
  transition: all 300ms;
}

#login a {
  display: block;
  font-size: 14px;
  text-decoration: none;
  margin-left: 18px;
  color: #555;
  transition: all 300ms;
}

#login a:hover {
  text-decoration: underline;
  color: #2f78bc;
}

#social {
  height: 158px;
}

#social a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Articulos */

#articles {
  width: 850px;
  float: left;
}

#articles h2 {
  display: block;
  width: 100%;
  height: 75px;
  line-height: 75px;
  text-align: center;
  font-family: "BebasNeue";
  font-size: 40px;
  font-weight: normal;
  letter-spacing: 2px;
  background: url(../img/pxgray.png);
  box-shadow: 0px 1px 0px #393d3f, 1px 2px 0px #393d3f, 2px 3px 0px #393d3f,
    3px 4px 0px #393d3f;
  margin: 0px autp;
  margin-top: 25px;
}

#articles article {
  width: 98%;
  height: auto;
  border: 1px solid #ccc;
  margin: 10px auto;
  padding: 10px;
  font-family: "TrebuchetMS";
  background-color: white;
  color: black;
  box-shadow: 1px 1px 2px #ddd;
}

#articles article h4 {
  display: block;
  font-size: 23px;
  margin: 3px;
}

#articles article h4 a {
  text-decoration: none;
  color: #00538c;
}

#articles article h4 a:hover {
  text-decoration: underline;
}

#articles .data {
  float: right;
  background-color: #393d3f;
  color: white;
  height: 30px;
  line-height: 30px;
  margin: -10px;
  padding: 4px;
  font-size: 13px;
  border-radius: 0px 0px 0px 3px;
}

#articles .data span {
  margin: 6px;
}

#articles article p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

#blog {
  height: 100px;
  margin-top: 60px;
  line-height: 100px;
  text-align: center;
  font-family: "BebasNeue";
}

#blog a {
  display: block;
  text-transform: uppercase;
  font-family: "BebasNeue";
  font-size: 40px;
  letter-spacing: 3px;
  color: #00538c;
  text-decoration: none;
}
